<%

var moment = require("moment");

var formatDate = function(d) {
  return moment(d, "MM/DD/YYYY").format("MMMM D, YYYY")
}

%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>


      <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <img src="./assets/walesHeader.jpg">
      <h1>The unsolved slaying of Thomas Wales</h1>

      <div class="container">

        <div class="brightcove">
          <iframe src="//players.brightcove.net/1509317113/default_default/index.html?videoId=5158664160001" allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder=0></iframe>
        </div>

        <p class="chatter first">
          He was a father, a federal prosecutor and a vocal gun-control activist. On an October evening 15 years ago, when Wales was alone in his Queen Anne home, a gunman took his life.

        <p class="chatter">
          Who did it, and why? There’s a suspect with a solid motive for wanting Wales dead – but can investigators uncover the evidence that would be needed to convict him? Answers to those questions continue to elude law enforcement officials in a frustrating search to bring a killer to justice.
      </div>

    </header>

    <div class="container">

      <main class="content">
        <div class="timeline">
          <% var y = null; %>
          <% json.timeline.forEach(function(row) { %>
          <% var year = row.date.split("/").pop() * 1 %>
          <% if (year && year != y) { %>
          <div class="year-label">
            <label><%= year %></label>
          </div>
          <% y = year; %>
          <% } %>
          <div class="entry">
            <% if (row.photo) { %>
            <div class="photo-embed">
              <img src="./assets/<%= row.photo %>">
              <div class="credit"><%= row.credit %></div>
            </div>
            <% } %>
            <h2><%= row.event %></h2>
            <span class="date">
              <%= formatDate(row.date) %>
              <% if (row.time) { %>
              - <%= row.time %>
              <% } %>
            </span>
            <div class="description">
              <% if (row.video) { %>
              <div class="video-embed">
                <iframe src="https://www.youtube.com/embed/<%= row.video %>" frameborder="0" allowfullscreen></iframe>
              </div>
              <% } %>
              <p><%= row.description.trim().split(/\n+/g).join("<p>") %>
              <% if (row.quote) { %>
              <blockquote>
                <p>
                <%= row.quote.trim().split(/\n+/g).join("<p>") %>
              </blockquote>
              <% } %>
            </div>
            <% if (row.link) { %>
            <a class="read-more" href="<%= row.link %>" target="_blank">
              <% if (row.thumbnail) { %>
              <img src="<%= row.thumbnail %>">
              <% } else { %>
              Read more &raquo;
              <% } %>
            </a>
            <% } %>
          </div>
          <% }) %>
        </div>
      </main>
    </div>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
